body,html{
	height: 100%;
	background-color: gray;
}
.cena
{
	height: 100%;
	width:  100%;
	perspective: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cubo
{
	position: relative;
	height: 500px;
	width: 500px;
	transform-style: preserve-3d;
	animation: girar 7s alternate infinite;
}
.face{
	position: absolute;
	width: 500px;
	height: 500px;
}
.esquerda{
	transform: translateX(-250px)rotateY(90deg);
	background-image: url("https://pbs.twimg.com/media/EalBoKOWoAUqOQ8.jpg");

}
.direita{
	transform: translateX(250px)rotateY(90deg);
	background-image: url("https://pbs.twimg.com/media/EalBoKOWoAUqOQ8.jpg");
	background-size: 100%;
}

.cima{
	transform: translateY(-250px)rotateX(90deg);
	background-image: url("https://pbs.twimg.com/media/EalBoKOWoAUqOQ8.jpg");
	background-size: 100%;
}
.baixo{
	transform: translateY(250px)rotateX(90deg);
	background-image: url("https://pbs.twimg.com/media/EalBoKOWoAUqOQ8.jpg");
	background-size: 100%;
}


.frente{
	transform: translateZ(250px);
	background-image: url("https://pbs.twimg.com/media/EalBoKOWoAUqOQ8.jpg");
	background-size: 100%;
}
.verso{
	transform: translateZ(-250px);
	background-image: url("https://pbs.twimg.com/media/EalBoKOWoAUqOQ8.jpg");
	background-size: 100%;
}
@keyframes girar
{
   0%{transform: rotateY(0deg) rotateX(0deg);}
   100%{transform: rotateY(720deg) rotateX(90deg);}
}
img{
	width: 500px;
	height: 500px;
}